/* Estilos generales */
body {
    background-image: url('../imagenes/Hi-Tech_Digital_Background_0062.mp4');
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

.logo-container {
    display: inline-block; /* Permite alinear elementos de manera horizontal */
    vertical-align: middle; /* Alinea verticalmente el contenedor con el título */
}

.logo {
    width: 100px; 
    height: 100px;
    margin-right: 1px;
}

h1 {
    display: inline-block; 
    vertical-align: middle; 
    margin: 10px; 
    font-size: 30px;
    margin-bottom: 30px; 
    margin-left: 1px;
    
}

nav ul {
    list-style-type: none;
    margin:5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;

}

nav ul li a:hover {
    color: #ff0000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4d4d4d;
    color: #fff;
    text-align: center;
    padding: 5px;
}

.body-historia{
    background-image: url('../imagenes/Historia\ Libro-fondo.webp');
    
}
.body-bibliotecas{
    background-image: url('../imagenes/Fondo-bibliotecas.jpeg');
}
.body-agregar{
    background-image: url('../imagenes/desktop-wallpaper-book-page-old-book-pages.webp');
}

header.encabezado {
    background-image: url('../imagenes/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-82761.jpg.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 1px; 
    text-align: center; 
    color: #fff; 
}

.image-card-size{
    max-width: 30%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

.card{
    opacity: 1;
    width: auto;
    height: auto;
    border-radius: 30px;
}

